DB_HOST=localhost
DB_NAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_SYNC=true
DB_USER=postgres
REDIS_HOST=localhost:6379
REDIS_PASSWORD=""
LOG_FILE=gin.log
MOVIE_TARGET_FOLDER=./movie-target
PORT=8080
TMDB_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxx
S3_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
S3_BUCKET_NAME=media
TV_TARGET_FOLDER=./tv-target
